/* General */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
  background-color: lightblue;
}
/* utilities */
.no-click {
  pointer-events: none;
}
/* content */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#grid {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}
.cell {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.bg-blue {
  background-color: aqua;
}
.bg-red {
  background-color: red;
}
.cell.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}
.cell.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.cell.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}
